<div class="container footer"  [class.sidebar-open]="isSidebarOpen" style="padding-top: 90px">
    <div class="row">
        <div class="respo-gam">
            <div class="col-sm-6" style="width: 50%;">
                <h3>Gaming License</h3>
                <div class="gaming-img">
                    <img src="assets\images\license11.png" alt="">
                </div>
            </div>
            <div class="col-sm-6" style="width: 50%;">
                <h3>Responsible Gaming</h3>
                <div class="responsive-img">
                    <img src="assets\images\age-limit1.svg" alt="">
                    <img src="assets\images\age-limit1.svg" alt="">
                    <img src="assets\images\age-limit1.svg" alt="">
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

<!-- <div class="container"> -->
    <h3>Payment Methods</h3>
    <div class="payment-img">
        <div class="payment-item">
            <img src="assets/images/pay60.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay22.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay33.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay34.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay45.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay59.png" alt="">
        </div>

        <!-- 2nd row se start -->
        <div class="payment-item">
            <img src="assets/images/pay61.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay171.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay161.png" alt="">
        </div>
        <div class="payment-item">
            <img src="assets/images/pay461.png" alt="">
        </div>
    </div>
<!-- </div> -->



<!-- <div class="container"> -->
    <div class="row">
        <h3>About Us</h3>
        <div class="about">
            <div class="col-sm-4 col-lg-2">
                <li> Privacy Policy </li>
            </div>
            <div class="col-sm-4 col-lg-2">
                <li> Terms & Conditions </li>
            </div>
            <div class="col-sm-4 col-lg-2">
                <li> Privacy Policy </li>
            </div>
            <div class="col-sm-4 col-lg-2">
                <li> Responsible Gaming </li>
            </div>
             <div class="col-sm-4 col-lg-2">
                <li> KYC </li>
            </div>
        </div>
    </div>
</div>