<div class="layout">
    <app-left-sidebar></app-left-sidebar>

    <div class="home" [class.sidebar-open]="isSidebarOpen">
        <!-- <div> -->
            <!-- <div class="row"> -->

                <div id="demo" class="carousel slide" data-bs-ride="carousel" [class.carousel-open]="isSidebarOpen">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets\images\bannerl1.webp" alt="Los Angeles" class="d-block" style="width:100%">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\images\bannerl3.webp" alt="Chicago" class="d-block" style="width:100%">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\images\bannerl44.webp" alt="New York" class="d-block" style="width:100%">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\images\bannerl5.webp" alt="Chicago" class="d-block" style="width:100%">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\images\bannerl2.webp" alt="Chicago" class="d-block" style="width:100%">
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->

        <div class="container" [class.sidebar-open]="isSidebarOpen">
            <div class="row">
                <div class="nav-container">
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('hot-game')"
                            [class.active]="activeTab === 'hot-game'">
                            <img src="assets\images\icon-hotgame.svg" alt="">
                            <p>HOT GAME</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('casino')"
                            [class.active]="activeTab === 'casino'">
                            <img src="assets\images\icon-casino.svg" alt="">
                            <p>LIVE CASINO</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('sports')"
                            [class.active]="activeTab === 'sports'">
                            <img src="assets\images\icon-sport.svg" alt="">
                            <p>SPORTS</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('table')" [class.active]="activeTab === 'table'">
                            <img src="assets\images\icon-crash.svg" alt="">
                            <p>CRASH</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('lottery')"
                            [class.active]="activeTab === 'lottery'">
                            <img src="assets\images\icon-slot.svg" alt="">
                            <p>SLOTS</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('sport')" [class.active]="activeTab === 'sport'">
                            <img src="assets\images\icon-sport.svg" alt="">
                            <p>SPORTS</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('crash')" [class.active]="activeTab === 'crash'">
                            <img src="assets\images\icon-crash.svg" alt="">
                            <p>CRASH</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <div class="nav-small-cont" (click)="changeTab('slot')" [class.active]="activeTab === 'slot'">
                            <img src="assets\images\icon-slot.svg" alt="">
                            <p>SLOTS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-2" [class.sidebar-open]="isSidebarOpen">
            <div class="row">
                @if(activeTab === 'hot-game'){
                <div class="nav-category">
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets/images/provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>



                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>


                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>



                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>


                </div>
                }

                @if(activeTab === 'casino'){
                <div class="nav-category">
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets/images/provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>


                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-21 col-lg-2 col-xl-2">
                        <div class="nav-cont-small-div">
                            <span style="background-image: url('assets/images/card-triangle.svg');"></span>
                            <img src="assets\images\provider-jilisuperace.png" alt="">
                            <p>Super Ace</p>
                        </div>
                    </div>


                </div>
                }

            </div>
        </div>
        <div class="container" [class.sidebar-open]="isSidebarOpen">
            <div class="row">
                <h3>Favourites</h3>
                <div class="favourite ">
                    <div class="fevourite-img ">
                        <img src="assets\images\public1.avif" alt="">
                    </div>
                    <div class="fevourite-img ">
                        <img src="assets\images\public1.avif" alt="">
                    </div>
                    <div class="fevourite-img ">
                        <img src="assets\images\public1.avif" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" [class.sidebar-open]="isSidebarOpen">
            <div class="row">
                <div class="recommendation">
                    <span></span>
                    <h3>Popular Games</h3>
                    <div class="img-cont">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">

                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                        <img src="assets\images\public.avif" alt="">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>