<app-left-sidebar></app-left-sidebar>
<div [class.sidebar-open]="isSidebarOpen">
    <div class="container">
        <div class="row">
            <div class="tab">
                <ul>
                    <li class="active">
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <li>
                        ALL
                    </li>
                    <div class="tab-search">
                        <img src="assets/images/icon-search-type01.svg" alt="">
                    </div>
                </ul>
                <!-- <div class="tab-search">
                    <img src="assets/images/icon-search-type01.svg" alt="">
                </div> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row g-3">
            <div style="display: flex;">
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
            </div>

        </div>


        <div class="row g-3">
            <div style="display: flex;">
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div style="display: flex;">
                    <div class="col-sm-4">
                        <div class="img-container">
                            <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-container">
                            <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-container">
                            <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>