<app-left-sidebar></app-left-sidebar>
<div [class.sidebar-open]="isSidebarOpen" class="casino" >
    <div class="container">
        <div class="row">
            <div class="tab">
                <ul>
                    <li [class.active]="activeTab === 'ALL'" (click)="changeTab('ALL')">
                        ALL
                    </li>
                    <li [class.active]="activeTab === 'SEXY'" (click)="changeTab('SEXY')">
                        SEXY
                    </li>
                    <li [class.active]="activeTab === 'EVO'" (click)="changeTab('EVO')">
                        EVO
                    </li>
                    <li [class.active]="activeTab === 'PP'" (click)="changeTab('PP')">
                        PP
                    </li>
                    <li [class.active]="activeTab === 'PT'" (click)="changeTab('PT')">
                        PT
                    </li>
                    <li [class.active]="activeTab === 'BETGAMES'" (click)="changeTab('BETGAMES')">
                        BETGAMES
                    </li>
                    <li [class.active]="activeTab === 'EZUGI'" (click)="changeTab('EZUGI')">
                        EZUGI
                    </li>
                    <li [class.active]="activeTab === 'EVOPLAY'" (click)="changeTab('EVOPLAY')">
                        EVOPLAY
                    </li>

                    <div class="tab-search" (click)="openSearchPage()">
                        <img src="assets/images/icon-search-type01.svg" alt="">
                    </div>
                </ul>
                <!-- <div class="tab-search">
                    <img src="assets/images/icon-search-type01.svg" alt="">
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row g-3">
            <div style="display: flex;">
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
            </div>

        </div>


        <div class="row g-3">
            <div style="display: flex;">
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div style="display: flex;">
                    <div class="col-sm-4">
                        <div class="img-container">
                            <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-container">
                            <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-container">
                            <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="img-container">
                @if(activeTab === 'ALL'){
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>



                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>

                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2025-11-20T13-53-15.219Z-ThaiFishPrawnCrab.png" alt="">
                </div>


                }

                @if(activeTab === 'SEXY'){

                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                <div class="img-list">
                    <img src="assets/images/2024-04-04T10-43-40.804Z-PT-LIVE-003.webp" alt="">
                </div>
                }
            </div>
        </div>
    </div>



















    <div class="container searchpage" [class.show]="isOpenSearchPage" style=" background: #2b2922;"
        *ngIf="isOpenSearchPage">
        <div class="searchpage-header">
            <span class="back-icon" style="background: url('assets/images/icon-arrow-type01.svg');"
                (click)="closeSearchPage()"></span>
            <input type="text" placeholder="search game...">
        </div>

        <div class="filter mt-5" style=" background: #3e3928;">
            <h3>Provider</h3>


            <div class="search-item">
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
                <ul>
                    <li>SEXY</li>
                </ul>
            </div>
        </div>


        <button class="confirm-btn">
            Confirm
        </button>
    </div>

</div>