<div class="header container-fluid">
  <div class="row">
    <div class="desktop-header-main" [class.sidebar-open]="isSidebarOpen">

      <div class="desktop-btn" (click)="clickBtn()">
        <li></li>
        <li></li>
        <li></li>
      </div>

      <div class="desktop-logo">
        <div class="sports-btn" routerLink="dashboard/sports" [class.visible]="!isSidebarOpen">
          <img src="assets/images/icon-cricket.svg" alt="">
          <p>Cricket</p>
        </div>


        <div class="toggle-btn" (click)="onDesktopBtnClick()">
          <img src="assets/images/accordion-arrow.svg" alt="" [class.rotate]="isSidebarOpen">
        </div>
        <img src="assets/images/Logo.svg" alt="" routerLink="dashboard/home">
      </div>


      <div class="desktop-header-button">
        <div class="sign-up-btn">Sign up</div>
        <div class="login-btn" routerLink="/login">Login</div>
      </div>


      <div class="desktop-logo-right">
        <img src="assets\images\IN.webp" alt="">
      </div>
    </div>



  </div>
</div>