.desktop-header-main{
    position: relative;
    background-color: #2254ba;
    height: 50px;
    width: 100%;
}
.desktop-logo{
   position: absolute;
   z-index:99;
   margin-top: -57px;
   left: 65px;
}
.desktop-logo img{
    width: 109px;
    height: 52px;
    margin-left: 16px;
}
.desktop-btn{
    position: relative;
    display: inline-block;
    background-image: linear-gradient(90deg, #0b2966, #030f26 100%, #030e23);
    width: 29px;
    height: 33px;
    padding: 20px;
    margin: 4px;
    box-shadow: 0 0 4px #ffffff80;
    border-radius: 5px;
}
.desktop-btn li{
      list-style: none;
    background-color: #fff;
    /* z-index: 999; */
    width: 29px;
    height: 2px;
    margin: 4px 0;
    transform: translate(-14px, -10px);
}

.desktop-header-button{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    transform: translate(-62px, -43px);
    gap: 5px;
    
}

.sign-up-btn{
   display: inline-block;
    width: 77px;
    height: 33px;
    background: linear-gradient(180deg, #e5e5e5 0%, #a4a4a4 100%);
    color: #0e2749;
    border-radius: 7px;
    padding: 4px;
    text-align: center;

}

.login-btn{
    background: #ffb80c;
    color: #222;
     width: 77px;
    height: 33px;
     border-radius: 7px;
    padding: 4px;
    text-align: center;

}

.desktop-logo-right{
    /* position: fixed; */
    position: absolute;
    right: 0;
    transform: translate(-11px, -43px);

}
.desktop-logo-right img{
    width: 34px;
    height: 34px;
}


