<div class="container-fluid">
    <div class="row">
        <div class="desktop-header-main">

          <div class="desktop-btn">
            <li></li>
            <li></li>
            <li></li>
          </div>

        

         <div class="desktop-logo"><img src="assets\images\Logo.svg" alt=""></div>
           

         <div class="desktop-header-button"> 
            <div class="sign-up-btn">Sign up</div>
            <div class="login-btn">Login</div>
         </div>


          <div class="desktop-logo-right">
            <img src="assets\images\IN.webp" alt="">
        </div>
        </div>
         
       
         
    </div>
</div>