.desktop-header-main {
    position: fixed;
    background-color: #2254ba;
    height: 50px;
    width: 100%;
    z-index: 9;
}

.desktop-logo {
    position: absolute;
    /* z-index: 99; */
    margin-top: -57px;
    left: 65px;
}

.desktop-logo img {
    width: 109px;
    height: 52px;
    margin-left: 16px;
}

.desktop-btn {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(90deg, #0b2966, #030f26 100%, #030e23);
    width: 29px;
    height: 33px;
    padding: 20px;
    margin: 4px;
    box-shadow: 0 0 4px #ffffff80;
    border-radius: 5px;
}

.desktop-btn li {
    list-style: none;
    background-color: #fff;
    /* z-index: 999; */
    width: 29px;
    height: 2px;
    margin: 4px 0;
    transform: translate(-14px, -10px);
}

.desktop-header-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    transform: translate(-62px, -43px);
    gap: 5px;

}

.sign-up-btn {
    display: inline-block;
    width: 77px;
    height: 33px;
    background: linear-gradient(180deg, #e5e5e5 0%, #a4a4a4 100%);
    color: #0e2749;
    border-radius: 7px;
    padding: 4px;
    text-align: center;

}

.login-btn {
    background: #ffb80c;
    color: #222;
    width: 77px;
    height: 33px;
    border-radius: 7px;
    padding: 4px;
    text-align: center;

}

.desktop-logo-right {
    position: absolute;
    right: 11px;
    top: 9px;
}

.desktop-logo-right img {
    width: 34px;
    height: 34px;
}

.desktop-logo .toggle-btn {
    display: none;
}

.sports-btn {
    display: none;
}

/* tips 1 start */


.desktop-btn {
    transition: transform 0.3s ease;
}

/* .sidebar-open .desktop-btn {
    transform: translateX(200px);
} */


/* tips 1 end */

.sports-btn.visible {
    display: none;
}

.desktop-logo .toggle-btn img.rotate {
    transform: rotate(90deg);
}
.bal{
    background: #f4b600;
    width: 75px;
    height: 32px;
    border-radius: 4px;
    padding: 0px;
}
.bal img{
    position: absolute;
    transform: translate(1px,8px);
}
.bal p{
    color: #0f2649;
    position: absolute;
    transform: translate(20px, 6px);
    font-size: 13px;
    font-weight: 500;
}

.exp {
    color: #fff;
    background: #e62626;
    width: 71px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.main-wallet{
    display: flex;
    background: #fff;
    border-radius: 6px;
    width: 180px;
    justify-content: space-around;
    height: 30px;
}
.main-wallet img{
    filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(200deg);
    width: 20px;
    margin: auto;
}

.main-wallet p{
    font-size: 14px;
    font-weight: 500;
    color: #0f2649;
    margin: auto;
}
@media(min-width:768px) {
    .desktop-btn {
        display: none;
    }

    .desktop-logo {
        margin-top: 0;
        display: flex;
    }

    .desktop-header-button {
        transform: translate(-60px, 11px);
    }

    .desktop-logo-right {
        /* transform: translate(-11px, 12px); */
    }

    .desktop-logo .toggle-btn img {
        width: 20px;
        height: 20px;
        filter: invert(27%) sepia(96%) saturate(1894%) hue-rotate(197deg) brightness(61%) contrast(101%);
    }

    .desktop-logo .toggle-btn {
        display: block;
        background: #e5e5e5;
        width: 55px;
        height: 30px;
        border-radius: 20px;
        margin: auto;
    }

    .sports-btn {
        display: block;
        padding: 10px;
        width: 230px;
        height: 40px;
        border-radius: 5px;
        background: #e5e5e5;
        color: #0e2749;
        /* margin: auto; */
        transform: translate(-6px, 5px);
    }

    .sports-btn img {
        filter: invert(27%) sepia(96%) saturate(1894%) hue-rotate(197deg) brightness(61%) contrast(101%);
        width: 25px;
        transform: translate(50px, -15px);
    }

    .sports-btn p {
        font-weight: 600;
        font-size: 14px;
        margin-top: -52px;
        margin-left: 98px;
    }

    .desktop-logo {
        left: 16px;
    }

}