<app-left-sidebar></app-left-sidebar>

<div class="container-fluid all-back" [class.sidebar-open]="isSidebarOpen">
   <div class="all">
      <div class="login-header">
         <img src="assets/images/icon-arrow-type01.svg" alt="">
         <h3>Login</h3>
      </div>
      <div class="img-container">
         <img src="assets/images/baajilogin.jpeg" alt="">
      </div>


      <div class="form-div">
         <div class="form-container">
            <label for="">Username</label>
            <input type="text" placeholder="Username">
         </div>



         <div class="form-container">
            <label for="">Password</label>
            <input type="password" placeholder="Password">
            <img src="assets/images/icon-eye-close-type.svg" alt="">
         </div>


         <div class="form-container">
            <label for="">Validation</label>
            <input type="number" placeholder="validation" maxlength="4">
            <span class="validation-code">5667</span>
         </div>

         <button class="login-btn">
            <h3>Login</h3>
         </button>

         <span class="any-question">Do not have any account? <a href="https://bjwala.com/rd/1.php">Sign up</a></span>
      </div>
   </div>
</div>