<app-left-sidebar></app-left-sidebar>
<div [class.sidebar-open]="isSidebarOpen" class="all-back">
    <div class="container wrap">
        <div class="row">
            <div class="text-container">
                <!-- Top Tabs (Live / Upcoming / Leagues / Parlay) -->
                <div class="container mt-2">
                    <div class="top-tabs">
                        <div class="tab " routerLink="/dashboard/sports">Live</div>
                        <div class="tab" routerLink="/dashboard/sports">Upcoming</div>
                        <!-- <div class="tab">Leagues</div> -->
                        <div class="tab-icon">Parlay</div>
                    </div>
                </div>
                <!-- Sports Icon Bar -->
                <div class="sports-bar active">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col sport-item" routerLink="/casinoAll">
                                <img src="assets/images/chip.webp" alt="">
                                Casino
                            </div>
                            <div class="col sport-item " [class.active]="activeSubTab === 'all'"
                                (click)="setSubTab('all')">
                                <img src="assets/images/chip.webp" alt="">
                                <p>All</p>
                                <span class="badge bg-warning text-dark">0</span>
                            </div>
                            <div class="col sport-item" [class.active]="activeSubTab === 'cricket'"
                                (click)="setSubTab('cricket')">
                                <img src="assets/images/chip.webp" alt="">
                                Cricket <span class="badge bg-danger">5</span>
                            </div>
                            <div class="col sport-item" [class.active]="activeSubTab === 'soccer'"
                                (click)="setSubTab('soccer')">
                                <img src="assets/images/chip.webp" alt="">
                                Soccer <span class="badge bg-warning text-dark">8</span>
                            </div>
                            <div class="col sport-item" [class.active]="activeSubTab === 'tennis'"
                                (click)="setSubTab('tennis')">
                                <img src="assets/images/chip.webp" alt="">
                                Tennis <span class="badge bg-warning text-dark">12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Filter Bar -->
                <div class="filter-bar mt-2">
                    <!-- <button class="btn btn-light btn-sm"> -->
                    <select name="" id="" [value]="activeFilter" (change)="changeTab($event)">
                        <option value="competition"> ⇅ by Competition</option>
                        <option value="time"> ⇅ by Time</option>
                    </select>
                    <!-- </button> -->

                    <!-- <button class="btn btn-light btn-sm">
                Collapse ⌄
            </button> -->
                </div>
                <!-- League + Match (One Day Internationals) -->

                @if(activeSubTab === 'all' && activeFilter === 'competition'){
                <div>

                    <div class="container mt-2" >
                        <div class="league-header" (click)="setCollapse()">
                            Virtual Big Bash 2026
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sydney Sixers SRL T20 v Brisbane Heat SRL T20</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card"  routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
                }
                @if(activeSubTab === 'cricket' && activeFilter === 'competition'){
                <div>

                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            Super Smash SRL
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Auckland SRL T20 v Wellington SRL T20</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            INDONESIA Super League
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Arema Cronus v Persijap Jepara</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
                }

                @if(activeSubTab === 'soccer' && activeFilter === 'competition'){
                <div>

                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
                }

                @if(activeSubTab === 'tennis' && activeFilter === 'competition'){
                <div>

                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            WTA - SINGLES ABU DHABI (UNITED ARAB EMIRATES)
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Kartal v Bucsa</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="container mt-2" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-2 mb-3" >
                        <div class="league-header"  (click)="setCollapse()">
                            One Day Internationals
                            <div class="icons-left">
                                <span class="badge bg-primary">1</span>
                                <i class="bi bi-chevron-down"  [class.rotate]="isCollapse"></i>
                            </div>
                        </div>

                        <div class="match-card" routerLink="/dashboard/premium-parlay" [class.collapse]="isCollapse">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
                }




                @if(activeFilter === 'time'){
                <div class="container" style="margin-top:5px" >
                    <div class="item-list-parent">
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px ; padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px ; padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px;padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px ; padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>

        </div>
    </div>
</div>