<app-left-sidebar></app-left-sidebar>
<div [class.sidebar-open]="isSidebarOpen" class="all-back">
    <div class="container wrap">
        <div class="row">
            <div class="text-container">
                <!-- Top Tabs (Live / Upcoming / Leagues / Parlay) -->
                <div class="container mt-2">
                    <div class="top-tabs">
                        <div class="tab active" routerLink="/dashboard/sports">Live</div>
                        <div class="tab" routerLink="/dashboard/sports">Upcoming</div>
                        <!-- <div class="tab">Leagues</div> -->
                        <div class="tab-icon">Parlay</div>
                    </div>
                </div>
                <!-- Sports Icon Bar -->
                <div class="sports-bar">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col sport-item">
                                <img src="assets/images/chip.webp" alt="">
                                Casino
                            </div>
                            <div class="col sport-item">
                                <img src="assets/images/chip.webp" alt="">
                                <p>My Fav</p>
                                <span class="badge bg-warning text-dark">0</span>
                            </div>
                            <div class="col sport-item active">
                                <img src="assets/images/chip.webp" alt="">
                                Cricket <span class="badge bg-danger">5</span>
                            </div>
                            <div class="col sport-item">
                                <img src="assets/images/chip.webp" alt="">
                                Soccer <span class="badge bg-warning text-dark">8</span>
                            </div>
                            <div class="col sport-item">
                                <img src="assets/images/chip.webp" alt="">
                                Tennis <span class="badge bg-warning text-dark">12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Filter Bar -->
                <div class="filter-bar mt-2">
                    <!-- <button class="btn btn-light btn-sm"> -->
                    <select name="" id="" (change)="changeTab($event)">
                        <option value="live"> ⇅ by Competition</option>
                        <option value="time"> ⇅ by Time</option>
                    </select>
                    <!-- </button> -->

                    <!-- <button class="btn btn-light btn-sm">
                Collapse ⌄
            </button> -->
                </div>
                <!-- League + Match (One Day Internationals) -->

                @if(activeTab === 'live'){
                <div>

                    <div class="container mt-2" routerLink="/dashboard/premium-parlay">
                        <div class="league-header">
                            One Day Internationals
                            <span class="badge bg-primary">1</span>
                        </div>

                        <div class="match-card">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container mt-2" routerLink="/dashboard/premium-parlay">
                        <div class="league-header">
                            One Day Internationals
                            <span class="badge bg-primary">1</span>
                        </div>

                        <div class="match-card">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="container mt-2" routerLink="/dashboard/premium-parlay">
                        <div class="league-header">
                            One Day Internationals
                            <span class="badge bg-primary">1</span>
                        </div>

                        <div class="match-card">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="container mt-2 mb-3" routerLink="/dashboard/premium-parlay">
                        <div class="league-header">
                            One Day Internationals
                            <span class="badge bg-primary">1</span>
                        </div>

                        <div class="match-card">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                   <div class="container mt-2 mb-3" routerLink="/dashboard/premium-parlay">
                        <div class="league-header">
                            One Day Internationals
                            <span class="badge bg-primary">1</span>
                        </div>

                        <div class="match-card">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="bi bi-star star"></i>
                                    <strong>Sri Lanka v England</strong><br>
                                    <span class="inplay">In-play</span>
                                    <small class="text-muted">Matched 0.00</small>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    
                </div>
                }




                @if(activeTab === 'time'){
                <div class="container" style="margin-top:5px" routerLink="/dashboard/premium-parlay">
                    <div class="item-list-parent">
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px ; padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px ; padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px;padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item-list">
                            <i class="bi bi-star star"></i>
                            <div class="item-text">
                                <h3> Australia U19 v West Indies U19</h3>
                            </div>
                            <div style="position: absolute;right: 0; display:flex; gap: 15px ; padding: 0 10px;">
                                <i class="bi bi-broadcast"></i>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>

        </div>
    </div>
</div>