<div class="container-fluid" >
    <div class="row">
        <div class="sidebar" *ngIf="isSidebarOpen">
          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

           <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>

          <div class="nav-item-head">
            <img class="nav-item-icon" src="assets/images/icon-home.svg" alt="">
            <p class="nav-item-text">Home</p>
            <img class="nav-item-arrow" src="assets/images/accordion-arrow.svg" alt="">
          </div>
        </div>
    </div>
</div>