<app-left-sidebar></app-left-sidebar>
<div class="wrap" [class.sidebar-open]="isSidebarOpen">
    <div class="sportsbook-wrapper">

        <!-- Header -->
        <div class="sportsbook-header">
            <span>Sportsbook</span>
        </div>

        <!-- Tabs -->
        <ul class="nav sportsbook-tabs">
            <li class="nav-item"><a class="nav-link active">All</a></li>
            <li class="nav-item"><a class="nav-link">Popular</a></li>
            <li class="nav-item"><a class="nav-link">Match</a></li>
            <li class="nav-item"><a class="nav-link">Over</a></li>
            <li class="nav-item"><a class="nav-link">Innings</a></li>
            <li class="nav-item ms-auto info-icon">i</li>
        </ul>

        <!-- Market Card 1 -->
        <div class="market-card">
            <div class="market-header">
                <div>
                    <i class="bi bi-star star"></i> <span>1st innings - Andrew, Jewel to score 50</span>
                </div>
                <div><i class="bi bi-chevron-up"></i></div>
            </div>

            <div class="row g-1 market-body">
                <div class="col-6">
                    <div class="market-box">
                        <div class="option">no</div>
                        <div class="odd">2.26</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="market-box">
                        <div class="option">yes</div>
                        <div class="odd">1.57</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Market Card 2 -->
        <div class="market-card">
            <div class="market-header">
                <div>
                    <i class="bi bi-star star"></i> <span>1st innings - Andrew, Jewel total</span>
                </div>
                <div><i class="bi bi-chevron-up"></i></div>
            </div>

            <div class="row g-1 market-body">
                <div class="col-6">
                    <div class="market-box">
                        <div class="option">over 63.5</div>
                        <div class="odd">2</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="market-box">
                        <div class="option">under 63.5</div>
                        <div class="odd">1.69</div>
                    </div>
                </div>
            </div>
        </div>




         <!-- Market Card 2 -->
        <div class="market-card">
            <div class="market-header">
                <div>
                    <i class="bi bi-star star"></i> <span>1st innings - Andrew, Jewel total</span>
                </div>
                <div><i class="bi bi-chevron-up"></i></div>
            </div>

            <div class="row g-1 market-body">
                <div class="col-6">
                    <div class="market-box">
                        <div class="option">over 63.5</div>
                        <div class="odd">2</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="market-box">
                        <div class="option">under 63.5</div>
                        <div class="odd">1.69</div>
                    </div>
                </div>
            </div>
        </div>





        

    </div>
</div>