<div class="container sidebar">
    <div class="row">

        <div class="menu" (click)="goback()">
            <img src="assets/images/icon-close.svg" alt="">
        </div>


        <div class="menuside">

            <div class="menu-bar">
                <div class="menu-list-one">
                    <div class="list-one">
                        <img src="assets/images/bw.png" alt="">
                        <h3>Hi Welcome</h3>
                    </div>
                    <div class="list-two">
                        <div class="login">
                            <img src="assets/images/icon-login-s.svg" alt="">
                            <p>LOGIN</p>
                        </div>
                        <div class="sign-up">
                            <img src="assets/images/icon-login-s.svg" alt="">
                            <p>SIGN UP</p>
                        </div>
                    </div>
                </div>
                <div class="menu-list-two">
                    <div class="menu-box" (click)="changeTab('casino')" [class.active]="activeTab === 'casino'">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box" (click)="changeTab('table')" [class.active]="activeTab === 'table'">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                    <div class="menu-box">
                        <img src="assets/images/icon-cricket.svg" alt="">
                        <p>Cricket</p>
                    </div>
                </div>
                <div class="menu-list-three">
                    <img src="assets/images/icon-cricket.svg" alt="">
                    <p>Home</p>
                </div>
            </div>


            <div class="menu-bar-side" *ngIf="activeTab === 'casino'">
                <ul>
                    <li routerLink="/dashboard/games/LIVE">
                        <img src="assets/images/icon-all-provider.svg" alt="">
                        <p>All Provider</p>
                    </li>
                    <li>
                        <img src="assets/images/icon-all-provider.svg" alt="">
                        <p>PP</p>
                    </li>
                    <li>
                        <img src="assets/images/PT.webp" alt="">
                        <p>PT</p>
                    </li>
                    <li>
                        <img src="assets/images/icon-all-provider.svg" alt="">
                        <p>HJ</p>
                    </li>

                </ul>

            </div>



            <div class="menu-bar-side" *ngIf="activeTab === 'table'">
                <ul>
                    <li>
                        <img src="assets/images/EVOPLAY.webp" alt="">
                        <p>EVOPLAY</p>
                    </li>
                    <li>
                        <img src="assets/images/PT.webp" alt="">
                        <p>PT</p>
                    </li>
                    <li>
                        <img src="assets/images/SPRIBE.webp" alt="">
                        <p>SPRIBE</p>
                    </li>
                    <li>
                        <img src="assets/images/icon-all-provider.svg" alt="">
                        <p>HJ</p>
                    </li>
                </ul>

            </div>

        </div>
        <div class="menu-blur">

        </div>
    </div>
</div>